<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<h3>Список твоих курсов</h3>
<table>
    <thead>
    <tr>
        <th> Role </th>
        <th> Course </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td><span th:text="${course.role}"> Your role </span></td>
        <td>
            <a th:href="@{/course/{id}(id=${course.course.id})}"><p th:text="${course.course.caption}"/></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>