<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<p><a th:href="@{/}">Start page</a></p>
<p><a th:href="@{/courses}">Back</a></p>
<h2>Course</h2>
<div>
    <span th:text="${course.caption}"></span>
</div>

<!--<p th:text="'Course' + ${caption}" />-->



</body>
</html>