<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<p th:text="'Привет, ' + ${username} + '!'" />
<a th:href="@{/user}">Назад</a>

<h2>Вы уверены, что хотите удалить аккаунт?
    Отменить действие будет невозможно, доступ ко всем курсам будет утерян.</h2>

<form action="/user/delete" method="post">
    <input type="submit" id="deleteAccButton" value="Я уверен и я хочу удалить свой аккаунт"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</body>
</html>