<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Редактировать комментарий</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form th:action= "@{'/course/{id}/edit_comment/{idComment}'(id=${idCourse}, idComment=${comment.getId()})}"
                                 th:method="post">
        <div class="modal-body">


                <textarea class="form-control" type="text" name="text" th:text="${comment.getText()}"></textarea>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        </form>
</html>